* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
    overflow-y: hidden;
    background-color: #212121;
    display: flex;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

aside {
    height: 100vh;
    width: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #FFFFFF40;
}

/* Varios tamanhos por causa dos tamanhos comuns das imagens */
aside .msg {
    width: 50px;
    height: 50px;
}

aside .status {
    width: 45px;
    height: 45px;
}

aside .canais {
    width: 35px;
    height: 35px;
}

aside .comunidades {
    width: 40px;
    height: 40px;
}

.superior {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #FFFFFF50;
    padding-bottom: 10px;
}

.inferior {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

.inferior img {
    width: 20px;
    height: 20px;
}

.perfil {
    height: 20px;
    width: 20px;
    border: 2px solid #FFFFFF80;
    border-radius: 50px;
}

.perfil img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
}


/* Lista de contatos */

.lista-contatos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 25px;
    border-right: 1px solid #FFFFFF40;
    background-color: #181818;
}

.lista-contatos .pesquisa {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.lista-contatos h1 {
    color: white;
    font-size: 1.5rem;
}

.lista-contatos .titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.titulo .icons {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
}

.titulo img {
    width: 20px;
    height: 20px;
}

.barra {
    width: 100%;
    height: 30px;
    background-color: #3b3b3b;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
}

.barra input {
    background-color: inherit;
    width: 80%;
    border: none;
    outline: none;
    color: white;
}

.barra img {
    width: 15px;
    height: 15px;
}

.botoes {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.botoes div {
    cursor: pointer;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    color: #FFFFFF80;
    font-weight: 700;
    padding: 7px;
    font-size: 0.8rem;
    transition: ease 0.1s;
}

.botoes div:hover {
    background-color: #365045;
}

.lista {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #3a3a3a #181818;
}


.contato {
    cursor: pointer;
    background-color: inherit;
    border: none;
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    transition: background-color 0.1s ease;
}

.contato:hover {
    background-color: #3a3d3c;
}

.contato p {
    font-size: 12px;
    color: white;
    font-weight: 500;
}

.contato .foto {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: 2px solid #3b3b3b;
}

.foto img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}


main {
    position: relative;
    width: 75%;
}

.conversa{
    display: none;
    height: 100vh; 
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    padding-bottom: 10px;
}


main .header {
    display: flex;
    z-index: 1;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 500;
    background-color: #181818;
}

 .header .foto {
    display: flex;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    border: 2px solid #3b3b3b;
}
.foto img{
    border-radius: 50px;
    width: 45px;
    height: 45px;
}

.icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.icons .video{
    height: 25px;
    width: 25px;
}
.icons .search{
    height: 20px;
    width: 20px;
}
.icons .more{
    height: 20px;
    width: 20px;
}

main .usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.background {
    height: 100vh;
    position: absolute;
    inset: 0;
    background: url('./img/background.png');
    background-repeat: repeat;
    background-position: center center;
    background-size: 600px 600px;
    opacity: 0.1;
    z-index: -1;
}

.mensagens {
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 100vh;
    width: 100%;
    gap: 10px;
    padding: 0 50px;
    color: white;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #3a3a3a #181818;
}

.mensagens .mensagem_contato {
    align-self: flex-start;
    max-width: 50%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #313433;
    padding: 10px 14px;
    border-radius: 0 12px 12px 12px;
}


.mensagens .mensagem_usuario {
    align-self: flex-end;
    display: flex;
    gap: 2px;
    flex-direction: column;
    max-width: 50%;
    word-wrap: break-word;
    background-color: #005C4B;
    padding: 10px 14px;
    border-radius: 12px 0 12px 12px;
}

.mensagens .texto {
    margin: 0;
    line-height: 1.4;
    font-size: 0.8rem;
}

.mensagens .hora {
    color: #FFFFFF80;
    font-size: 0.75rem;
    align-self: flex-end;
}

.enviar{
    z-index: 1;
    display: flex;
    align-self: center;
    width: 98%;
    border-radius: 30px;
    background-color: #313433;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.enviar .inputs{
    display: flex;
    padding-left: 15px;
    align-items: center;
    gap: 8px;
}

.enviar input{
    background-color: inherit;
    padding-left: 5px;
    width: 80%;
    border: none;
    outline: none;
    color: white;
}

.enviar img{
    height: 20px;
    width: 20px;
}

.informacoes-usuario{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacoes {
    width: 20.5rem;
    height: 31.25rem;
    background: #313433;
    border: 1px solid #3b3b3b;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 10px;
}

.informacoes-usuario img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid;
}

.informacoes-usuario .texts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacoes-usuario p{
    color: #a5a6a6;
}