* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #212121;
    display: flex;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

aside {
    height: 100%;
    width: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #FFFFFF40;
}

/* Varios tamanhos por causa dos tamanhos comuns das imagens */
aside .msg {
    width: 50px;
    height: 50px;
}

aside .status {
    width: 45px;
    height: 45px;
}

aside .canais {
    width: 35px;
    height: 35px;
}

aside .comunidades {
    width: 40px;
    height: 40px;
}

.superior {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #FFFFFF50;
    padding-bottom: 10px;
}

.inferior {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

.inferior img {
    width: 20px;
    height: 20px;
}

.perfil {
    height: 20px;
    width: 20px;
    border: 2px solid #FFFFFF80;
    border-radius: 50px;
}


/* Lista de contatos */

.lista-contatos {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 25px;
    border-right: 1px solid #FFFFFF40;
    background-color: #181818;
}

.lista-contatos .pesquisa {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.lista-contatos h1 {
    color: white;
    font-size: 1.5rem;
}

.lista-contatos .titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.titulo .icons {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
}

.titulo img {
    width: 20px;
    height: 20px;
}

.barra {
    width: 100%;
    height: 30px;
    background-color: #3b3b3b;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
}

.barra input {
    background-color: inherit;
    width: 80%;
    border: none;
    outline: none;
    color: white;
}

.barra img {
    width: 15px;
    height: 15px;
}

.botoes {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.botoes div {
    cursor: pointer;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    color: #FFFFFF80;
    font-weight: 700;
    padding: 7px;
    font-size: 0.8rem;
    transition: ease 0.1s;
}

.botoes div:hover {
    background-color: #365045;
}

.lista {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contato {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-top: 1px solid #FFFFFF50;
    border-bottom: 1px solid #FFFFFF50;
}

.foto {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: 2px solid #3b3b3b;
}


main {
    position: relative;
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
}

.background {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.1) url('./img/background.png');
    background-repeat: repeat;
    background-position: center center;
    background-size: 620px 620px;
    opacity: 0.1;
    z-index: 0;
}

.mensagens {
    width: 90%;
    height: 100%;
    gap: 20px;
}

main .mensagem_contato {
    background-color: #fff;
}

main .messagem_perfil {
    background-color: #fff;
}